* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

.container-login {
	width: 600px;
	background-color: rgb(12, 17, 17);
	padding: 2px;
	margin: auto;
	margin-top: 2px;
	border-radius: 10px;
	color: blue;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	box-shadow: 7px 13px 37px #000;
}

.container-login2 {
	width: 500px;
	background-color: rgb(112, 171, 171);
	padding: 10px;
	margin: auto;
	margin-top: 2px;
	border-radius: 10px;
	color: green;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	box-shadow: 7px 13px 37px #000;
}

.container-login3 {
	width: 500px;
	background-color: rgb(199, 201, 171);
	padding: 10px;
	margin: auto;
	border-radius: 10px;
	color: blue;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	box-shadow: 7px 13px 37px #000;
}

.superior {
	padding: 20px;
}

.inferior {
	display: flex;
	justify-content: space-between;
	background-color: #e0e0e0;
	padding: 10px;
}

.izquierda, .derecha {
	flex-basis: 48%; /* Divide en 2 partes iguales */
	background-color: #d0d0d0;
	padding: 20px;
}