<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Transferencias</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<link rel="stylesheet" href="/css/style-table.css"/>
</head>
<body style="background: #cccc99;">

	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
					</button>

					<ul class="nav navbar-nav">
						<li><a th:href="@{/wallet/cuentas}">Mis Cuentas</a></li>
						<li><a th:href="@{/wallet/contactos}">Mis Contactos</a></li>
						<li><a th:href="@{/wallet/inicio}">Inicio</a></li>
						<li><a th:href="@{/logout}">Cerrar sesión</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<br>
		<br>
		<h3>Listado General de Movimientos</h3>
		<div>
			<h3>
				<span><strong>Usuario :</strong></span>
				<span th:text="${nombreusuario}"></span>
			</h3>
		</div>
		<div>
			<div class="tabla-container">
			<table class="table table-dark table-responsive table-striped table-bordered">
				<thead>
					<tr>
						<th>Cuenta Nº</th>
						<th>Transferencia</th>
						<th>Tipo</th>
						<th>Fecha</th>
						<th>Cuenta Referida</th>
						<th>Monto</th>
						<th>Detalle</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${movimientos.size == 0}"><td>No hay movimientos que mostrar</td></tr>
					<tr th:each="movimiento : ${movimientos}">
						<td th:text="${movimiento.cuenta}"></td>
						<td th:text="${movimiento.trf}"></td>
						<td th:text="${movimiento.tipo}"></td>
						<td th:text="${movimiento.fecha}"></td>
						
						<td th:if="${movimiento.numero != null}" th:text="${movimiento.numero}"></td>
						<td th:if="${movimiento.numero == null}" th:text="${movimiento.cuenta}"></td>
						
						<td th:text="${movimiento.monto}"></td>
						<td th:text="${movimiento.detalle}"></td>
					</tr>
				</tbody>
			</table>
				</div>
			<div><a class="btn btn-success" type="button" th:href="@{/wallet/cuentas}">Regresar a Mis Cuentas</a></div>
		</div>
	</div>
</body>
</html>
