<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Operaciones</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<header>

		<div class="container mx-auto" style="width: 800px;">
			<nav
				class="navbar collapse navbar-collapse navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
						</button>

						<ul class="nav navbar-nav">
							<li><a th:href="@{/wallet/cuentas}">Mis Cuentas</a></li>
							<li><a th:href="@{/wallet/contactos}">Mis Contactos</a></li>
							<li><a th:href="@{/wallet/inicio}">Inicio</a></li>
							<li><a th:href="@{/logout}">Cerrar sesión</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>

	<br>
	<br>
	<div class="superior container-login">
		<span><h1>Transferir Entre Cuentas</h1></span>
		<div>
			<h4>
				<span>Usuario :</strong></span> <strong><span
					th:text="${nombreusuario}"></span></strong>
			</h4>
		</div>
		<div>
			<h4>
				<span>Cuenta Origen Nº</span> <strong><span
					th:text="${nrocuenta}"></span></strong>
			</h4>
		</div>
		<div>
			<h3>
				<span>Su Saldo Disponible $</span> <strong><span
					th:text="${balance}+' '+${moneda}"></span></strong> <br />
			</h3>
		</div>
		<div th:if=${msgtransferencia}>
			<div class="alert alert-info">
				<span th:text="${msgtransferencia}"></span>
			</div>
		</div>
	</div>
	<div class="inferior">
		<div class="izquierda container-login2">
			<form id="form-transferencia" th:action="@{/wallet/transferencias}"
				method="post" th:object="${procesotransferencia}">
				<div class="form-group">
					<label class="control-label">Monto de Dinero a Transferir</label> <input
						id="monto-transferir" class="form-control input-transferencia"
						type="number" value="1" th:max="${balance}" name="amount" required
						th:field="*{amount}">
				</div>

				<div class="form-group">
					<label class="control-label">Cuenta Destino para los fondos</label>
					<select class="form-control" name="selectedDestino"
						id="destinotransferencia">
						<option class="input-transferencia" value="PROPIAS">Cuentas
							Propias</option>
						<option class="input-transferencia" value="CONTACTOS">Cuentas
							de sus Contactos</option>
					</select>
				</div>

				<div class="form-group" id="cuentaspropias">
					<select class="form-control" name="account" th:field="*{account}"
						id="selectpropias">
						<option class="input-transferencia"
							th:each="account : ${suscuentas}" th:value="${account.id}"
							th:text="${account.user.firstname}+' '+${account.user.lastname}+
					', #'+${account.number}+', '+${account.currencyy.symbol}+', '+${account.bank.name}"></option>
					</select>
					<p style="color: red;" th:if="${suscuentas.size == 0}">(No
						posee cuentas adicionales para traspasos)</p>
				</div>

				<div class="form-group" id="cuentasterceros" style="display: none;">
					<select class="form-control" name="account" th:field="*{number}"
						id="selectterceros">
						<option class="input-transferencia"
							th:each="account : ${suscontactos}" th:value="${account.number}"
							th:text="${account.alias}+', #'+${account.number}+', '+${account.currencyy}+', '+${account.bank}"></option>
					</select>
					<p style="color: red;" th:if="${suscontactos.size == 0}">(No
						posee contactos para transferir)</p>
				</div>
				<div class="form-group">
					<label class="control-label">Factor de Conversion Monetaria</label></span>
					<input class="form-control input-transferencia"
						id="factor-conversion" step="0.000001" min="0" value="1.0"
						type='decimal' name='factor' required th:field="*{factor}">
					<label class="control-label">Glosa de la operación</label> <input
						class="form-control input-transferencia" type='text' value="Trf: "
						name='detail' required th:field="*{detail}">
				</div>
				<div>
					<label><h3>Total Transferencia $</h3></label> <label
						id="total-transferir"></label>
				</div>

				<div class="form-group">
					<span>
						<button type='submit' class='btn btn-success'>Realizar
							Transferencia</button>
					</span> <span> <a class="btn btn-primary" type="button"
						th:href="@{/wallet/cuentas}">Volver a mis Cuentas</a>
					</span>
				</div>

			</form>
		</div>
		<div class="derecha container-login3" id="tipos-indicadores">
			<span>
				<h3>Tipos de Cambio</h3>
				<p class="titulo-fecha"></p>
				<table class="table table-align-center table-striped table-bordered"
					id="tipos-conversion">
				</table>
				<h3>Indicadores Económicos</h3>
				<table class="table table-align-center table-striped table-bordered"
					id="indicadores">
				</table>
			</span>
		</div>
	</div>
  <!--  recolecta las cuentas del usuario con sus simbolos de moneda -->
	<script th:inline="javascript">
		/*<![CDATA[*/
			var listadocuentas = /*[[${cuentasdelusuario}]]*/ '';
			var nrocuenta = /*[[${nrocuenta}]]*/ '';
			var moneda = /*[[${moneda}]]*/ '';
        /*]]>*/
	</script>

	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script src="/js/transferencias.js"></script>
</body>
</html>